<section class="text-center">
    <h3 class="display-4">Enlaces</h3>
    <p>En esta tabla, por cada tecnología, hay un enlace hacía un sitio para aprender sobre la misma. También cada enlace viene acompañado por una descripción del porque recomiendo tal sitio.</p>

    <table class="table table-borderless text-left mt-4">
        <thead class="container d-none d-md-block">
            <tr class="row">
                <th class="col" scope="col">Tecnología</th>
                <th class="col" scope="col">Enlace</th>
                <th class="col-8" scope="col">Descripción</th>
            </tr>
        </thead>
        <tbody class="container">
            <tr class="row mb-3">
                <td class="col-md text-center text-md-left">HTML</td>
                <td class="col-md text-center text-md-left"><a href="https://www.w3schools.com/html/default.asp" target="_blank">W3School</a></td>
                <td class="col-md-8">Para HTML recomiendo W3School. Hay muchisímo material en internet para aprender HTML, recomiendo particularmente W3School para repasar o buscar rápidamente algún tag o atributo que te olvides, también podés aprender de 0 HTML por W3School pero dudo que sea lo mejor.</td>
            </tr>
            <tr class="row mb-3">
                <td class="col-md text-center text-md-left">CSS</td>
                <td class="col-md text-center text-md-left"><a href="https://css-tricks.com/" target="_blank">CSS-TRICKS</a></td>
                <td class="col-md-8">Para CSS recomiendo CSS-TRICKS. Al igual que HTML en internet hay mucho material para aprender CSS, CSS-TRICKS tiene guías muy interesantes y completas, tutoriales y artículos que realmente vale la pena visitar.</td>
            </tr>
            <tr class="row mb-3">
                <td class="col-md text-center text-md-left">JavaScript</td>
                <td class="col-md text-center text-md-left"><a href="https://www.faztweb.com/cursos/javascript/1" target="_blank">FaztWeb</a></td>
                <td class="col-md-8">Para JavaScript recomiendo FaztWeb, el enlace es para su website pero también es muy importante su canal de YouTube. Dentro de su website encontrarás artículos de interés sobre Js, también sobre muchas más tecnologías. En su canal de YouTube están sus tutoriales que, como todos sus contenidos, son muy buenos.</td>
            </tr>

        </tbody>
    </table>
</section>
