<section class="text-center pt-5">
    <p>Trabajo Práctico Nº 3</p>
    <h3>
        Este es un proyecto para el programa <a href="https://www.cba.gov.ar/programaclip/" target="_blank">CLIP</a>
        <br />
        <small class="text-muted">Programa de Inserción Laboral y Capacitación en Nuevas Tecnologías</small>
    </h3>
    <div class="mt-5 pt-4">

        <div id="cheems">
            <h6>Pongo un cheems aquí para cumplir el<br />requerimiento de contener al menos una imágen</h6>
            <img src="~/assets/cheems.png" width="200" />
        </div>

        <h4>Actividad a presentar:</h4>
        <p>Diseña un sitio web (contenido a elección) de 2 o 3 páginas web que incluya:</p>
        <ul style="list-style: none;padding: 0;">
            <li><p>Etiquetas semánticas (HTML5)</p></li>
            <li><p>Enlaces externos e internos</p></li>
            <li><p>Al menos una imágen (HTML5)</p></li>
            <li><p>Al menos una tabla (HTML5)</p></li>
            <li><p>Estilos externos e internos (CSS3)</p></li>
        </ul>
        <h5 class="text-muted">Fecha de entrega: 25/08/2020</h5>
    </div>
</section>
