@{
    ViewData["Title"] = "Tecnologías";
}

    <section class="text-center" id="tecnologias">
        <h3 class="display-4">Tecnologías</h3>
        <p>Para el desarrollo web front-end hay una gran número de herramientas, frameworks, librerías y preprocesadores. Sin embargo los tres pilares fundamentales siguen siendo HTML, CSS y Javascript.</p>

        <div class="rompecabezas text-left">
            <a href="https://es.wikipedia.org/wiki/React" target="_blank" class="item bg-green text-body react">
                <h2 class="d-block">React</h2>
            </a>
            <a href="https://materializecss.com/" target="_blank" class="item bg-red text-body materialize d-none d-sm-none d-md-flex">
                <h5 class="d-block">Materialize</h5>
            </a>
            <a href="https://es.wikipedia.org/wiki/LESS_(lenguaje_de_hojas_de_estilo)" target="_blank" class="item bg-yellow text-body less">
                <h5 class="d-block">Less</h5>
            </a>
            <a href="https://es.wikipedia.org/wiki/Angular_(framework)" target="_blank" class="item bg-blue text-body angular">
                <h2 class="d-block">Angular</h2>
            </a>
            <a href="https://es.wikipedia.org/wiki/Stylus_(lenguaje_de_hojas_de_estilo)" target="_blank" class="item bg-green text-body stylus">
                <h5 class="d-block">Stylus</h5>
            </a>
            <a href="https://es.wikipedia.org/wiki/Hoja_de_estilos_en_cascada" target="_blank" class="item bg-red text-body css">
                <h2 class="display-4 display-sm-3 display-lg-2 d-block">Css</h2>
            </a>
            <a href="https://en.wikipedia.org/wiki/Vue.js" target="_blank" class="item bg-yellow text-body vue">
                <h2>Vue</h2>
            </a>
            <a href="https://es.wikipedia.org/wiki/HTML" target="_blank" class="item bg-blue text-body html">
                <h2 class="display-4 display-sm-3 display-lg-2 d-block">Html</h2>
            </a>
            <a href="https://en.wikipedia.org/wiki/PostCSS" target="_blank" class="item bg-green text-body postcss">
                <h5 class="d-block">PostCss</h5>
            </a>
            <a href="https://es.wikipedia.org/wiki/JavaScript" target="_blank" class="item bg-red text-body javascript">
                <h2 class="display-4 display-sm-3 display-lg-2 d-block">Js</h2>
            </a>
            <a href="https://es.wikipedia.org/wiki/Sass" target="_blank" class="item bg-yellow text-body sass">
                <h5 class="d-block">Sass</h5>
            </a>
            <a href="https://tailwindcss.com/" target="_blank" class="item bg-blue text-body tailwind">
                <h5 class="d-block">Tailwind</h5>
            </a>
            <a href="https://es.wikipedia.org/wiki/Bootstrap_(framework)" target="_blank" class="item bg-green text-body bootstrap">
                <h2 class="d-block">Bootstrap</h2>
            </a>
            <a href="https://es.wikipedia.org/wiki/JQuery" target="_blank" class="item bg-red text-body jquery">
                <h2 class="d-block">Jquery</h2>
            </a>
        </div>
        @*
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        *@
    </section>
